.navbar-default {
    background: rgb(112, 159, 255);
}
.navbar-default .navbar-right li > a{
  color: #fff;
}
.navbar-default .navbar-right li > a:hover{
  background-color: #fff;
  color: rgb(83, 135, 255);
}

.navbar-default .navbar-nav .dropdown-menu> li> a,
.navbar-default .navbar-nav .dropdown-menu {
    background-color: rgb(112, 159, 255);
    color:#fff;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
  background-color: #fff;
  color: rgb(83, 135, 255);
}

.navbar-brand {
  width: 100px;
}
