{% extends 'layout.html' %}
<title> This is the index page version 0 </title>
{% block body %}
	<div class="container">
		<div class="row">
				<div class="col-xs-6"><div id="container1"></div></div>
				<div class="col-xs-6 "><div id="container2"></div></div>
		</div>
	</div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="/static/visitor_center_line.js" ></script>
<script>
$(document).ready(function () {
      $('#container1').highcharts({
          title: {
              text: 'Data from the Visitor Center',
              x: -20 //center
          },
          xAxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
          },
          yAxis: {
              title: {
                text: 'Total numbers'
              },
              plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
              }]
           },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          credits: {
              enabled: false
          },
          series: [{
                  name: 'Persons',
                  data: {{ monthly_data['persons'] }}
          }, {
                  name: 'Two Wheelers',
                  data: {{ monthly_data['two_wheelers'] }}
          }, {
                  name: 'Cars',
                  data: {{ monthly_data['cars'] }}

          }, {
                  name: 'Vans',
                  data: {{ monthly_data['vans'] }}
          }, {
                  name: 'Buses',
                  data:  {{ monthly_data['buses'] }}
          },  {
                  name: 'Autos',
                  data:  {{ monthly_data['autos'] }}
          }]
      });
});
</script>
<script>
$(function () {
    $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Data from the Visitor Center'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    // style: {
                    //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    //}
                }
            }
        },
				credits :{
					enabled: false
				},
        series: [{
            name: 'Visitors',
            //colorByPoint: true,
            data: [{
                name: 'Persons',
                y: {{ total_data['persons'] }},
								sliced: true,
								// selected: true
            }, {
                name: 'Two Wheelers',
                y: {{ total_data['two_wheelers'] }},
                // sliced: true,
                // selected: true
            }, {
                name: 'Cars',
                y: {{ total_data['cars'] }}
            }, {
                name: 'Vans',
                y: {{ total_data['vans'] }}
            }, {
                name: 'Buses',
                y: {{ total_data['buses'] }}
            }, {
                name: 'Autos',
                y: {{ total_data['autos'] }}
            }]
        }]
    });
});
</script>

{% endblock %}
