<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href= "static/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href={{ url_for('static', filename="main_style.css")}} rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img width='100px' src='static/images/auronet.png' alt='Auronet'></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sectors <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Energy</a></li>
                  <li><a href="#">Food, Farms</a></li>
                  <li><a href="#">Economy</a></li>
                  <li><a href="#">Population</a></li>
                </ul>
              </li>
              <li><a href="#">Downloads</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      {% block body %}{% endblock %}
      {% block script %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/bootstrap-css/js/bootstrap.min.js"></script>
      {% endblock %}
  </body>
</html>
